<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.jt.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.jt.mapper.dtd">
<com.jt.mapper namespace="com.jt.com.jt.mapper.userDao">
    <select id="selectBlog" resultType="user">
    select * from Blog where id = #{id}
  </select>
</com.jt.mapper>
